(1)お名前（漢字）
{{name|escape}}

(2)お名前（フリガナ）
{{furigana}}

(3)メールアドレス
{{email}}

(4)ご連絡可能な電話番号
{{tel}}

(5)お問い合わせ内容
{{contents|escape}}

(6)ご利用端末
{{device_model|escape}}

(7)ご利用端末バージョン
{{os_version|escape}}

(8)アプリバージョン
{{app_version|escape}}
